body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration-line: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.4px;
    color: #192b59;
    line-height: 1.1;
    max-width: 540px;
    margin-bottom: 65px;
}
.title-50 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 59px;
    letter-spacing: -1.5px;
    max-width: 500px;
}
.title-50 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: -5px;
    display: block;
}
.title-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 59px;
    letter-spacing: -1.2px;
}
.title-40 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: -6px;
    display: block;
}
.page-stat .title-50, .page-screen .title-50 {
    text-align: center;
    margin: 0 auto;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav>li {
    padding: 0 15px;
}
.nav-item {
    color: #6e7ea9;
}
.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}
.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    letter-spacing: 1.9px;
    padding: 21px 54px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}
.btn-group a + a {
    margin: 12px;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.list-stat {
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
    display: flex;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 2.3px;
    text-align: center;
    text-transform: uppercase;
} 
.list-stat>li>span {
    font-size: 60px;
    color: #bacbdc;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 24px;
    display: block;
}
.screen {
    margin-top: 33px;
    margin-left: -10px;
    margin-bottom: -7px;
}
.box-price {
    display: flex;
    justify-content: space-between;
}
.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child {
    color: #192b59;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item.active h3 {
    color: #fff;
}
.box-price-item.active h3 span:first-child {
    color: #fff;
}
.box-price-item.active p {
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
}
.box-price-item.active::after {
    display: none;
}


/* PAGE */

.page-stat, .page-screen{
    background-color: #edf6ff;
    padding: 97px 0 97px 0;
}
.page-stat{
    padding: 97px 0 97px 0;
}
.page-screen, .page-plan {
    text-align: center;
}
.page-screen {
    padding: 97px 0 0 0;
}