body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration-line: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.4px;
    color: #192b59;
    line-height: 1.1;
    max-width: 540px;
    margin-bottom: 65px;
}
.title-50 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 59px;
    letter-spacing: -1.5px;
    max-width: 500px;
}
.title-50 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: -5px;
    display: block;
}
.title-40 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 59px;
    letter-spacing: -1.2px;
}
.title-40 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: -6px;
    display: block;
}
.page-stat .title-50, .page-screen .title-50 {
    text-align: center;
    margin: 0 auto;
}
.page-subscribe .title-50 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}
.page-subscribe .title-50 span {
    font-size: 14px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

/* PAGE-HEADER */

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}
.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/1_page-header/page-logo.png);
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav>li {
    padding: 0 20.5px;
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img {
    display: block;
    background-image: url(../img/1_page-header/page-screen_1.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 190px;
}
.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 43px;
    border-radius: 30px;
    transition: 0.3s;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}
.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 43px;
    border-radius: 30px;
    transition: 0.3s;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    letter-spacing: 1.9px;
    padding: 21px 54px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 43px;
    border-radius: 30px;
    transition: 0.3s;
}
.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}
.btn-group a + a {
    margin: 12px;
}

/* PAGE-COMPANY */

.list-company {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1110px;
   margin: 0 auto;
}
.list-company-item {
    display: block;
}
.company-one {
    background-image: url(../img/2_page-company/logo-token.png);
    flex-basis: 198px;
    height: 58px;
}
.company-two {
    background-image: url(../img/2_page-company/logo-magneto.png);
    flex-basis: 200px;
    height: 69px;
}
.company-three {
    background-image: url(../img/2_page-company/logo-boohod.png);
    flex-basis: 201px;
    height: 47px;
}
.company-four {
    background-image: url(../img/2_page-company/logo-fractal.png);
    flex-basis: 200px;
    height: 69px;
}

/* PAGE-GRID */

.grid {
    display: grid;
    grid-template-areas: "a c d"
                         "b c d"
                         "b f g"
                         "e f g"
                         "e h h";
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
}
.grid title {
    grid-area: a;
}
.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
.grid-item {
    text-align: center;
    box-shadow: 0 0 5px #f4f4f4;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 19px;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    height: 92px;
    margin: 0 auto 26px;
    background-position: center;
}
.grid-icon-1 {
    background-image: url(../img/3_page-grid/page-icon_1.png);
    background-size: 79px 82px;
}
.grid-icon-2 {
    background-image: url(../img/3_page-grid/page-icon_2.png);
    background-size: 73px 79px;
}
.grid-icon-3 {
    background-image: url(../img/3_page-grid/page-icon_3.png);
    background-size: 89px 85px;
}
.grid-icon-4 {
    background-image: url(../img/3_page-grid/page-icon_4.png);
    background-size: 102px 92px;
}
.grid-icon-5 {
    background-image: url(../img/3_page-grid/page-icon_5.png);
    background-size: 85px 90px;
}
.grid-icon-6 {
    background-image: url(../img/3_page-grid/page-icon_6.png);
    background-size: 100px 87px;
}
.grid-text-p {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;
}
.grid-text-p span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

/* PAGE-SUBSCRIBE */

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-subscribe-user {
    position: relative;
}
.box-subscribe-child {
    flex-basis: 48.5%;
}
.box-subscribe-user input {
    font-size: 14px;
    color: #fff;
    border: 2px solid #3f5cb1;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 230px 25px 37px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.box-subscribe-user .btn-primary {
    position: absolute;
    top: 9px;
    right: 8px;
    padding: 17px 51px;
}
.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}
.box-subscribe-user input::-webkit-input-placeholder {color: #b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color: #b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color: #b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color: #b1c3ee;}

/* PAGE-SOFTWARE */

/* PAGE-STAT */

.list-stat {
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
    display: flex;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 2.3px;
    text-align: center;
    text-transform: uppercase;
} 
.list-stat>li>span {
    font-size: 60px;
    color: #bacbdc;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 24px;
    display: block;
}

/* PAGE-APP */
/* PAGE-ANALYTICS_1 */
/* PAGE-ANALYTICS_2 */

/* PAGE-SCREEN */

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.screen {
    margin-top: 33px;
    margin-left: -10px;
    margin-bottom: -7px;
}

/* PAGE-CLIENTS */

/* PAGE-PLAN */

.box-price {
    display: flex;
    justify-content: space-between;
}
.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child {
    color: #192b59;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item.active h3 {
    color: #fff;
}
.box-price-item.active h3 span:first-child {
    color: #fff;
}
.box-price-item.active p {
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 59px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
}
.box-price-item.active::after {
    display: none;
}

/* PAGE-TEAM */
/* PAGE-FORM */
/* PAGE-FOOTER */

/* PAGE */

.page-header {
    background-image: url(../img/1_page-header/page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/2_page-company/page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0 100px;
}
.page-subscribe {
    padding: 25px 0 28px 0;
    color: #fff;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-stat, .page-screen{
    background-color: #edf6ff;
    padding: 97px 0 97px 0;
}
.page-stat{
    padding: 97px 0 97px 0;
}
.page-screen, .page-plan {
    text-align: center;
}
.page-screen {
    padding: 97px 0 0 0;
}