body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration-line: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.4px;
    color: #192b59;
    line-height: 1.1;
    max-width: 540px;
    margin-bottom: 65px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav>li {
    padding: 0 15px;
}
.nav-item {
    color: #6e7ea9;
}
.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    font-weight: 400;
    letter-spacing: 1.9px;
    padding: 21px 54px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 43px;
    border-radius: 30px;
}
.btn-group a + a {
    margin: 12px;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}
.list-stat {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 2.3px;
    text-align: center;
    text-transform: uppercase;
} 
.list-stat>li>span {
    font-size: 60px;
    color: #bacbdc;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 24px;
    display: block;
} 